
/* LAYOUT
==============================*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f5f7;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
}

body * {
    box-sizing: border-box;
}



/* NAV STRIP
==============================*/





/* DEVICE TABLE
==============================*/

/*http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-accordion.php*/

section#devices {
    margin: 0 auto;
    display: block;
}

h2.component-heading {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 10px 0;
}

#mb-main {
    padding: 0 15px;
}



/* BOOTSTRAP OVERRIDES
==============================*/

.panel {
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,.03),
                0 1px 3px rgba(0,0,0,.02);
}

.panel-group .panel+.panel {
    margin-top: 0;
}

.panel-default > .panel-heading {
    background: none;
    border: none;
    padding: 0;
    border-radius: 0;
}

.panel-title {
    font-size: 18px;
    line-height: inherit;
}

.panel-title > a.list-group-item-success,
.panel-title > button.list-group-item-success {
    color: #3c763d;
}

.panel-title > a.list-group-item-warning,
.panel-title > button.list-group-item-warning {
    color: #8a6d3b;
}

.panel-title > a.list-group-item-danger,
.panel-title > button.list-group-item-danger {
    color: #a94442;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.panel-body p {
    margin: 0;
}

a.list-group-item:last-child {
    border-radius: 0;
}

a.list-group-item {
    position: relative;
    border: none;
    margin: 2px 0;
    background-color: #fff;
    color: #222 !important;
    text-transform: uppercase;
    line-height: 1;
    padding: 15px 20px;
}

a.list-group-item::after {
    content: '\f055';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

a.list-group-item span.label {
    margin-left: 15px;
    font-size: 65%;
    padding: .3em .6em;
}

.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.03),
                0 1px 3px rgba(0,0,0,.02);
}


